*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
}
*[class*="col_"]{
  background-color: pink;
  border: 1px solid black;
  height: 150px;
  position: relative;
}
*[class*="col_"] span{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
